* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dark-theme {
    background-color: #343434;
    color: white;
}

.centered-text {
    text-align: center;
}

.header {
    margin: 50px 0;
}

.main {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: white;
    border: 2px solid green;
    margin: 0;
}

.turn {
    margin-top: 20px;
}

.playerX {
    color: red;
}

.playerO {
    color: blue;
}

.resetDiv  {
    position:absolute;
    bottom: 25%;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
}

#reset {
    background-color: green;
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: green 0px 0px 20px 0px;
}